<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="speakerslist maincontent">
        <h1 class="speakerslist-title"><%=speaker.title%></h1>
        <div class="speakerslist-name">
          with
          <a href="/speakers/<%=speaker.shortname%>"><%=speaker.name%></a>
        </div>
        <p class="speakerslist-info mt-2">
          <a href="/speakers/<%=speaker.shortname%>">
            <img
              class="speakerslist-img img-fluid"
              src="/images/speakers/<%=speaker.shortname%>.jpg"
              alt="Photo of <%=speaker.name%> Post"
            />
          </a>
        </p>
        <%-speaker.description%>
        <p>
          An avid water sports participant, Hillary understands the water in many ways in which
          others do not, or may not ever have the opportunity. Her goal in creating the CAC exhibit
          was to share with others the beauty, power, and flow of natural bodies of water throughout
          the world. In addition to the display, Hilary also hosts a session on Tuesday called Deep
          Sea Wonders, which combines her love of deep sea diving and snorkeling, with instruction
          for capturing the beauty of underwater explorations on canvas.
        </p>
        <p></p>
      </article>
    </div>
    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Artwork on display</h1>
        <p class="sidebar-body">
          While you attend the conference, head over to our gallery where you can check out some of
          the work from our speakers.
        </p>
        <div class="pixgrid clearfix">
          <% artworks.forEach((artwork, idx) => { %>
          <img src="/images/artwork/<%=artwork%>" alt="Artwork <%=idx%>" />

          <% }); %>
          <!-- second solution -->
          <% //artworks.forEach((artwork, idx) => { %>
          <!-- <img src="/images/artwork/<%=//artwork%>" alt="Artwork <%=//idx%>" /> -->
          <% //}); %>
        </div>
      </article>
    </aside>
  </div>
</div>
